<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/fakeloader.css">
  <title>Document</title>
</head>
<body style="padding-top: 0;">
<div class="vip_wva" style="padding-top: 20px;">
         <!--  <div class="wd_rrg">
           
          
         </div> -->
          <div class="wd_rrge">
            <ul class="wdgq" style="float: right;min-width: 470px;height: 50px;">
              <li class="asd dsd">
                <p>
                  全部
                  <span>
                    (85)
                  </span>
                </p>
              </li>
              <li class="asd " style="margin-left: 20px;">
                <p>
                  已审核
                  <span>
                    (85)
                  </span>
                </p>
              </li>
              <li class="asd " style="margin-left: 20px;">
                <p>
                  未审核
                  <span>
                    (85)
                  </span>
                </p>
              </li>
              <li class="asd " style="margin-left: 20px;">
                <p>
                  未通过
                  <span>
                    (85)
                  </span>
                </p>
              </li>
            </ul>
          </div>
          <div id="list">
          <div class="yesog">
          <a href="CourseDetails.html" style="text-decoration: none;color: #333;">
            <div class="dwd_ter ddd">
              <div class="biaer">
                <img src="../../images/rdsg3.jpg" style="width: 200px;height: 119px;">
                <img src="../../images/fg.png" style="position: absolute;top: 0px;left: 0px;">
              </div>
              <div class="riaght">
                <div style="width: 440px;height: 28px;float: left;">
                  <p style="float: left;line-height: 28px;font-size: 14px;font-weight: bold;">
                    高一数学
                  </p>
                  <p style="float: right;line-height: 32px;font-size: 12px;padding-right: 5px;color: #ccc;">
                    2016.3.14
                  </p>
                </div>
                <div style="width: 300px;height: 28px;float: left;">
                  <p style="color: #888888;font-size: 12px;">
                    (&nbsp;章节数量：<a style="text-decoration: none;color: orange;">10</a>&nbsp;)
                  </p>
                </div>
                <div style="width: 440px;height: 30px;float: left;">
                  <p class="vipccg displayPart" style="font-size: 12px;color: #666;">
                    大声道阿什顿阿什顿阿什顿阿什顿大声道阿什顿阿什顿阿什顿阿什顿大声道阿什顿阿什顿阿什顿阿什顿大声道阿什顿阿什顿阿什顿阿什顿大声道阿什顿阿什顿阿什顿阿什顿大声道阿什顿阿什顿阿什顿阿什顿
                  </p>
                </div>
                <div style="width: 440px;height: 28px;float: left;margin-top: 13px;">
                  <p style="float: left;color: red;font-size: 14px;line-height: 28px;">
                    ￥199.00
                  </p>
                  <div style="float: right;padding-right: 10px;margin-top: 4px;">
                    <li style="list-style: none;float: left;">
                      <img src="../../images/7657hg.png" style="float: left;margin-top: 3px;cursor: pointer;">
                      <p style="float: left;margin-left: 2px;color: #c2c2c2;font-size: 12px;">
                        50
                      </p>
                    </li>
                    <li style="list-style: none;float: left;margin-left: 8px;">
                      <img src="../../images/3543g.png" style="float: left;margin-top: 3px;cursor: pointer;">
                      <p style="float: left;margin-left: 2px;color: #c2c2c2;font-size: 12px;">
                        70
                      </p>
                    </li>
                    <li style="list-style: none;float: left;margin-left: 8px;">
                      <img src="../../images/ghj.png" style="float: left;margin-top: 3px;cursor: pointer;">
                      <p style="float: left;margin-left: 2px;color: #c2c2c2;font-size: 12px;">
                        100
                      </p>
                    </li>
                  </div>
                </div>
              </div>
              </a>
            </div>
            </div>
             
            </div>
          </div>
  
</body>
<script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>
  <script type="text/javascript" src="../../js/course.js">
  </script>
  <script >
</html>