<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/fakeloader.css">
  <title>Document</title>
</head>
<body style="padding-top: 0;">
<div class="vip_wqv">
          <a href="newcourse.html">
          <div class="wqe_rr">
          </div>
          </a>
          <div class="weq_e">
            <div class="col-lg-6 wvd_g ">
              <div class="input-group">
               
                <input type="text" class="form-control" placeholder="输入课程名称...">
                 <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="dq_fe">
              <div class="dww vip_gg">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 14px;">
                  全部课程
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 14px;">
                  (85)
                </p>
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 14px;">
                  JAVA开发实训
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 14px;">
                  (85)
                </p>
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 14px;">
                  HTML5实战
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 14px;">
                  (85)
                </p>
              </div>
            </div>
          </div>
        </div>
  
</body>
<script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>
  <script type="text/javascript" src="../../js/course.js">
  </script>
  <script >
</html>