<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      直播详情
    </title>
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/fakeloader.css">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  
  <body>
  <div class="fakeloader" ></div>
 
    <!-- 导航 -->
    <nav class="navbar navbar-default navbar-fixed-top  viodd ">
      <div class=" container viowidth">
        <div class="navbar-header vbi vopww">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand " href="#">
            <img src="../../images/5345.png" style="margin-top: -5px;">
          </a>
        </div>
        <div class="collapse navbar-collapse vilind" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav vipsds ">
           <li class="h4 ">
              <a href="../Settings/index.html">
                首页
              </a>
            </li>
            <li class="h4">
              <a href="../course/course.html" >
                课程
              </a>
            </li>
            <li class="h4">
              <a href="../Live/broadcast.html" class="wdq">
                直播
              </a>
            </li>
            <li class="h4">
              <a href="../DMM/DMM.html" >
                DMM课件
              </a>
            </li>
            <li class="h4">
              <a href="../Mentoring/Mentoring.html">
                答疑
              </a>
            </li>
            <li class="h4">
              <a href="../orderform/order.html">
                订单
              </a>
            </li>
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-header vbi ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="" aria-expanded="false">
            <span class="glyphicon glyphicon-user">
            </span>
          </button>
        </div>
        
          <div class="nav navbar-nav wrrt ">
          <a href="../Settings/ZOE.html">
            <div class="vipclass">
              <img src="../../images/f16e2ddda3cc7cd912b878833b01213fb90e9110.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>
            <p class="vipgd">
              wangchongVIP@
            </p>
            <p style="float: left;line-height: 36px;line-height: 42px;">
              <img src="../../images/33.png" style="cursor: pointer;">
            </p>
          </div>
        </div>
        </a>
        <!-- /.navbar-collapse -->
        </li>
        </ul>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- 导航结束 -->
    <div id="vip" style="height: auto;">
      <!-- 内容部分 -->
      <div id="vipcenter" style="height: auto;min-height: 1100px;">
        <div class="vip_wqv">
          <a href="newcourse.html">
          <div class="wqe_rr">
          </div>
          </a>
          <div class="weq_e">
            <div class="col-lg-6 wvd_g ">
              <div class="input-group">
               
                <input type="text" class="form-control" placeholder="输入课程名称...">
                 <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="dq_fe">
              <div class="dww vip_gg">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  全部课程
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  JAVA开发实训
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  HTML5实战
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="vip_wva" style="padding-bottom: 20px;">
          <div class="wd_rrg">
            
            <p style="margin-left: 20px;line-height: 40px;color: #333;font-size: 16px;">
              当前位置：<a style="text-decoration: none;color:#2598f9;font-size: 16px;">初中语文>简介</a>
            </p>
          </div>
         <div class="out_w">
          <img src="../../images/icon_yishenhe.png" class="mingo">
         <div class="vi_o">
          <video src="" controls="controls"  poster="../../images/154g.png" style="width: 300px;height: 170px;">
            您的浏览器不支持 video 标签。
            </video>
           
         </div>
         <div class="qe_u">
         <p style="color: #333;font-size: 16px;">小学语文第二册知识点讲解与分析</p>
         <p style="color: #888888;font-size: 14px;">创建: 2016-03-20 </p>
         <p style="color: #888888;font-size: 14px;">价格：<a style="text-decoration:none;color: red;font-size: 16px;">600元</a></p>
       
         <div class="uiy_iuu">
           <li>
             <div style="color: #888888;font-size: 14px;float: left;width: 120px;text-align: center;padding-top: 10px;">已购买人数</div>
             <div style="color: #2598f9;font-size: 14px;text-align: center;">120</div>
           </li>
           <li style="border-right: none;border-left: none;">
              <div style="color: #888888;font-size: 14px;float: left;width: 120px;text-align: center;padding-top: 10px;">学生满意度</div>
             <div style="color: #2598f9;font-size: 14px;text-align: center;">100%</div>
           </li>
           <li>
              <div style="color: #888888;font-size: 14px;float: left;width: 120px;text-align: center;padding-top: 10px;">收藏人数</div>
             <div style="color: #2598f9;font-size: 14px;text-align: center;">80</div>
           </li>
         </div>

          
        
         </div>
         <div class="nwvbar">
         <p style="font-size: 16px;color: #333;">
           学习圈公告：
         </p>
         <textarea type="text" class="wucun input_textarea" disabled="disabled" maxlength="140">
           本校2014学年第二学期学生报到注册为2015年3月7日（周六）上午8：30。开学这几天工作具体安排如下：3月7日（周六）（1）上午8：30报到。请提醒孩子带好寒假作业，包括《递铺三小2014学年寒假综合实践活动方案》，后附作业，整理装订，写上班级姓名。（2）下午学生在家休息，注意安全。</textarea>
         <div class="nawvbar_aa">
          <li class="swl3"style="margin-left: 10px;">
           保存
         </li>
         <li class="swl2" >
           修改
         </li>
        


           
         </div>
           
         </div>
           
         </div>
        <div class="uiy_asd">
         <div class="uiy_ul">
         
          <a href="liveAudited.html"><li style="width: 350px;" class="uly_color">简介</li></a>
        
         <a href="liveChecked.html"><li style="width: 350px;" >评论</li></a>
           
         </div>
         <div class="bnanri">
           <img src="../../images/0.jpg">
         </div>
          <div class="uly_text">
          <li>
            <p style="color: #333;font-size: 16px;">课程目标:</p>
            <p style="color:#888888;font-size: 14px; ">让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门</p>
              
            </p>
          </li>
          <li>
            <p style="color: #333;font-size: 16px;">课程特色:</p>
            <p style="color:#888888;font-size: 14px; ">让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门</p>
              
            </p>
          </li>
          <li>
            <p style="color: #333;font-size: 16px;">适用人群:</p>
            <p style="color:#888888;font-size: 14px; ">让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门</p>
              
            </p>
          </li>
           
         </div>

         </div>

      
         </div>
        </div>
      </div>
      <!-- 内容结束 -->
    </div>
    <div id="far" style="width: 100%;height: 88px;background: #fff;float: left;">
      <div style="width: 307px;height: 38px;margin:20px auto;">
        <p style="color: #333;font-size: 16px;">
          版权所有：北京天智通达信息技术有限公司
        </p>
        <p style="color: #333;font-size: 16px;margin:0 auto;width: auto;">
          copyright © 2015 京ICP备10209638-3号
        </p>
      </div>
    </div>
    </div>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <a class="to-top">Top</a>
  
  </body>
  
  <script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>
  <script type="text/javascript" src="../../js/course.js">
  </script>
  <script >
 /*   //加载动画
$(function () {
   $(document).ready(function(){
                $(".fakeloader").fakeLoader({
                    timeToHide:1200,
                    bgColor:"#63a4db",
                    spinner:"spinner3"
                });
                $(".viodd").hide();
                setTimeout(function () {
                  $(".viodd").show();
                },1300)
            });
})*/
//溢出文本处理
 $.fn.extend({
    displayPart:function () {
    var displayLength = 125;
    displayLength = this.attr("displayLength") || displayLength;
    var text = this.text();
    if (!text) return "";
    var result = "";
    var count = 0;
    for (var i = 0; i < displayLength; i++) {
    var _char = text.charAt(i);
    if (count >= displayLength) break;
    if (/[^x00-xff]/.test(_char)) count++; //双字节字符，//[u4e00-u9fa5]中文
    result += _char;
    count++;
    }
    if (result.length < text.length) {
    result += "...";
    }
    this.text(result);
    }
    });
    $(function () {
    $(".displayPart").displayPart();
    });


  </script>
  

</html>