<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      完成
    </title>
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/newcourse.css">
    <link rel="stylesheet" href="../../css/classroom.css">
    <link rel="stylesheet" href="../../css/Video.css">
    
   <!--    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
   </script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
   </script> -->
   
  </head>
  
  <body>
    <!-- 导航 -->
    <nav class="navbar navbar-default navbar-fixed-top  viodd ">
      <div class=" container viowidth">
        <div class="navbar-header vbi vopww">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand " href="#">
            <img src="../../images/5345.png" style="margin-top: -5px;">
          </a>
        </div>
        <div class="collapse navbar-collapse vilind" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav vipsds ">
            <li class="h4 ">
              <a href="../Settings/index.html">
                首页
              </a>
            </li>
            <li class="h4">
              <a href="../course/course.html" >
                课程
              </a>
            </li>
            <li class="h4">
              <a href="../Live/broadcast.html" class="wdq">
                直播
              </a>
            </li>
            <li class="h4">
              <a href="../DMM/DMM.html" >
                DMM课件
              </a>
            </li>
            <li class="h4">
              <a href="../Mentoring/Mentoring.html">
                答疑
              </a>
            </li>
            <li class="h4">
              <a href="../orderform/order.html">
                订单
              </a>
            </li>
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-header vbi ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="" aria-expanded="false">
            <span class="glyphicon glyphicon-user">
            </span>
          </button>
        </div>
        <div class="collapse navbar-collapse vierr" id="bs-example-navbar-collapse-1">
         
          <div class="nav navbar-nav wrrt ">
          <a href="../Settings/ZOE.html">
            <div class="vipclass">
              <img src="../../images/f16e2ddda3cc7cd912b878833b01213fb90e9110.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>
            <p class="vipgd">
              wangchongVIP@
            </p>
            <p style="float: left;line-height: 36px;line-height: 42px;">
              <img src="../../images/33.png" style="cursor: pointer;">
            </p>
          </div>
        </div>
        </a>
        <!-- /.navbar-collapse -->
        </li>
        </ul>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- 导航结束 -->



      <!-- 新建课程 -->
       <div id="out" style="min-height: 150px;margin-top: 10px;">
         <div class="bubu">
            <div class="kec">
              <p>当前位置：</p>
              <p style="color: #3c8dcc;">课程></p>
              <p>发布课程</p>
            </div>
           
         </div>
         <div class="anf">
          

            
          </div>

           <div id="room">
             <div style="width: 211px;height: 152px;margin:0 auto;"><img src="../../images/icon_win.png"></div>
             <p style="text-align: center;font-size: 20px;color: #333;margin-top: 10px;">直播预约成功!</p>
             <p style="text-align: center;font-size: 14px;color: #888888;margin-top: 30px;">我们将在2个工作日内对课程进行审核，您可以在课程列表中查看审核结果。</p>


         </div>
          <div id="ker" style="padding-top: 1px;">
         
          <div class="yyo">
            <a href=""><p class="dy">返回</p></a>
            <a href="Newlive.html"><p class="dy" style="float: right;">继续预约</p></a>
          </div>
        </div>
        
            
               
             </div>
               

       </div>















      <!-- 新建课程结束 -->
    <div id="far" style="width: 100%;height: 88px;background: #fff;float: left;margin-top: 20px;border-top:1px solid #ccc;">
      <div style="width: 307px;height: 38px;margin:20px auto;">
        <p style="color: #333;font-size: 16px;">
          版权所有：北京天智通达信息技术有限公司
        </p>
        <p style="color: #333;font-size: 16px;margin:0 auto;width: auto;">
          copyright © 2015 京ICP备10209638-3号
        </p>
      </div>
    </div>
    </div>
    </ul>
    </div>
    </div>
    </div>

    </div>
<a class="to-top" style="text-decoration:none">Top</a>
  </body>
  <script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
 <script src="../../bootstrap.dolang/js/bootstrap.min.js">
 </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
   <script type="text/javascript" src="../../js/Video.js">
  </script>
 
  

</html>