<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      我的答疑
    </title>
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/Mentoring.css">
    <link rel="stylesheet" href="../../css/Mentoringlist.css">  
    <link rel="stylesheet" href="../../css/fakeloader.css">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  
  <body>
  <div class="fakeloader" ></div>
    <!-- 导航 -->
    <nav class="navbar navbar-default navbar-fixed-top  viodd ">
      <div class=" container viowidth">
        <div class="navbar-header vbi vopww">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand " href="#">
            <img src="../../images/5345.png" style="margin-top: -5px;">
          </a>
        </div>
        <div class="collapse navbar-collapse vilind" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav vipsds ">
            <li class="h4 ">
              <a href="../Settings/index.html">
                首页
              </a>
            </li>
            <li class="h4">
              <a href="../course/course.html" >
                课程
              </a>
            </li>
            <li class="h4">
              <a href="../Live/broadcast.html" >
                直播
              </a>
            </li>
            <li class="h4">
              <a href="../DMM/DMM.html" >
                DMM课件
              </a>
            </li>
            <li class="h4">
              <a href="../Mentoring/Mentoring.html" class="wdq">
                答疑
              </a>
            </li>
            <li class="h4">
              <a href="../orderform/order.html">
                订单
              </a>
            </li>
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-header vbi ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="" aria-expanded="false">
            <span class="glyphicon glyphicon-user">
            </span>
          </button>
        </div>
        <div class="collapse navbar-collapse vierr" id="bs-example-navbar-collapse-1">
         
          <div class="nav navbar-nav wrrt ">
           <a href="../Settings/ZOE.html">
            <div class="vipclass">
              <img src="../../images/f16e2ddda3cc7cd912b878833b01213fb90e9110.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>
            <p class="vipgd">
              wangchongVIP@
            </p>
            <p style="float: left;line-height: 36px;line-height: 42px;">
              <img src="../../images/33.png" style="cursor: pointer;">
            </p>
          </div>
        </div>
        </a>
        <!-- /.navbar-collapse -->
        </li>
        </ul>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- 导航结束 -->
    <div id="vip" style="border:none;">
      <!-- 内容部分 -->
      <div id="vipcenter">
        <div class="vip_wqv">
          <div class="wqe_rr">
          </div>
          <div class="weq_e">
            <div class="col-lg-6 wvd_g ">
              <div class="input-group">
               
                <input type="text" class="form-control" placeholder="输入课程名称...">
                 <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="dq_fe">
              <div class="dww vip_gg">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  全部答疑
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  JAVA开发实训
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  HTML5实战
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="vip_wva" style="padding-top: 20px;">
         <!--  <div class="wd_rrg">
          
           <p style="margin-left: 10px;line-height: 40px;color: #2598f9;font-size: 16px;">
             答疑详情
           </p>
         </div> -->
          <div class="wd_rrge" style="min-height: 35px;height: auto;">
            <ul class="wdgq" style="float: right;min-width: 350px;height: 50px;">
              <li class="asd dsd">
                <p>
                  全部
                  <span>
                    (85)
                  </span>
                </p>
              </li>
              <li class="asd " style="margin-left: 20px;">
                <p>
                  待回答
                  <span>
                    (85)
                  </span>
                </p>
              </li>
              <li class="asd " style="margin-left: 20px;">
                <p>
                  已回答
                  <span>
                    (85)
                  </span>
                </p>
              </li>
              
            </ul>
          </div>
          <div class="bensix">
            <a href="Mentoring.html"><div class="asd_six" ></div></a>
            <div class="sdw_xs">
              <p>上一条</p>
              <p style="margin-left: 30px;">下一条</p>
            </div>
          </div>
          <div id="list">
            <div class="wq_gg2">
            <div style="width: auto;height: 30px;float: left;padding-left: 10px;">
             <img src="../../images/icon_ask.png" style="float: left;padding-top: 5px;padding-left: 5px;"> 
             
           </div>
              <p class="ywq" style="width: 500px;">
                如图， 正方形ABCD中，F为DC的中点阿大声道奥德赛阿什顿如图， 正方形ABCD中，F为DC的中点阿大声道奥德赛阿什顿如图， 正方形ABCD中，F为DC的中点阿大声道奥德赛阿什顿
              </p>
               <p class="ywq22">
                劫是200年以来第一个冲破古老、禁忌之路的忍者。他违抗了他的影流之主宗族和导师，抛弃了束缚他一生的均衡与信条。劫现在为那些拥抱影之奥义的人提供力量，并屠杀那些墨守成规的人。劫是一个孤儿，他被一名伟大的忍者大师收养并训练。在他心目中，只有一个人能与他匹敌，他就是大师的儿子，慎。劫似乎永远都得不到导师的青睐，因为他与对手们的每一次较量都是以平局结束。在挫败感和嫉妒心的驱使之下，他开始寻找取胜之道。这个年轻的忍者冒险进入了宗族寺庙里的禁地，并找到了一个装饰华美的不祥之盒。在感觉到盒子里的暗黑奥义后，劫知道他不应该打开它，尽管如此，他还是进行了窥探。顷刻间，影子触碰到了他的意念，并展示了被长期隐藏的禁忌忍术。凭借着这个秘密武器，他再次挑战了慎，且这一次他赢了。在这胜利时刻，他期待着赞许与认同，但不知为何，导师知道他使用了禁术，并将他驱逐了出去。劫屈辱地徘徊了数年。他将苦难转化为决心，并开始用影子流派来训练其他人。他的力量日益增长，他的追随者们也是如此，但他知道，少了那个不祥之盒，他的忍术将永不完美。某天，劫审视了他的跟随者们，并注意到，他的徒弟们现在已经是一支可怕的部队了。于是他带领他们返回寺庙，去索要那个盒子。在大门口，他惊奇的发现苍老的导师正在等候，并且犹如迎接贵客一般接待着劫和他的弟子们。这个老人将他的剑放在劫的脚边，并声称他是一个失败的导师。因为他作为导师，没有能够将曾经的徒弟带回均衡之路，反而将劫放逐，迫使劫遁入了影子。苍老的导师恳求劫能够进入寺庙毁掉盒子，并带领他的追随者们重归均衡。于是这名暗黑忍者与导师一同走进寺庙。片刻后，已经集结的忍者们听到了劫发出了痛苦的大喊。让人费解的是，劫毫发无伤地现身，并将导师的头丢到了慎的脚边。伴随着狂暴的尖啸，劫命令他的部下们去屠杀导师的徒弟们，并夺取不祥之盒。那天，旧忍者教团覆灭。尽管有很多徒弟死去，但在慎的英勇抗争之下，也有一批徒弟得以逃生。现在，这所寺庙已经成为了影子教团的一处训练场所。劫是教团的主人，并且他的法令很简单：完善你的忍术，然后杀光所有拒绝拥抱影子的忍者。
              </p>
               <div class="menimg2" style="width: auto;height: auto;max-width: 600px;max-height: 500px;min-height: 450px;min-width: 700px;margin:0 auto;">
                <img src="../../images/rdsg3.jpg" style="width: auto;height: auto;max-width: 700px;max-height: 500px;">
              </div>
              <div class="auoio">
                <audio src="someaudio.wav" controls="controls">
                
                </audio>
                </div>
              
              
             
               <div class="wdq_yero2" >

               <div class="vipclass" style="float: left;margin-left: 25px;">
              <img src="../../images/rBACE1blBSLwTsdyAAAmKibZOu8689_200x200_3.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>

            <div style="float: left;margin-top: 15px;padding-left: 10px;">
                <p style="float: left;color: #888888;padding-right:10px; ">
              权志龙
            </p>
            <div style="float: left;color: #888888;">
            <span style="margin-left: 2px;">2016.03.21</span>
            <span style="margin-left: 2px;">14:30</span>
            </div>
            
                
            </div>
               
           </div>
            </div>


         

            <div class="wq_gg2" style="margin-top: 50px;">
            <div style="width: auto;height: 30px;float: left;padding-left: 10px;">
             <img src="../../images/icon_answer.png" style="float: left;padding-top: 5px;padding-left: 5px;"> 
             
           </div>
              <p class="ywq" style="color: #888888;">
                16-03-14<span style="margin-left: 10px;">13:45</span>
              </p>
               <p class="ywq22">
                劫是200年以来第一个冲破古老、禁忌之路的忍者。他违抗了他的影流之主宗族和导师，抛弃了束缚他一生的均衡与信条。劫现在为那些拥抱影之奥义的人提供力量，并屠杀那些墨守成规的人。劫是一个孤儿，他被一名伟大的忍者大师收养并训练。在他心目中，只有一个人能与他匹敌，他就是大师的儿子，慎。劫似乎永远都得不到导师的青睐，因为他与对手们的每一次较量都是以平局结束。在挫败感和嫉妒心的驱使之下，他开始寻找取胜之道。这个年轻的忍者冒险进入了宗族寺庙里的禁地，并找到了一个装饰华美的不祥之盒。在感觉到盒子里的暗黑奥义后，劫知道他不应该打开它，尽管如此，他还是进行了窥探。顷刻间，影子触碰到了他的意念，并展示了被长期隐藏的禁忌忍术。凭借着这个秘密武器，他再次挑战了慎，且这一次他赢了。在这胜利时刻，他期待着赞许与认同，但不知为何，导师知道他使用了禁术，并将他驱逐了出去。劫屈辱地徘徊了数年。他将苦难转化为决心，并开始用影子流派来训练其他人。他的力量日益增长，他的追随者们也是如此，但他知道，少了那个不祥之盒，他的忍术将永不完美。某天，劫审视了他的跟随者们，并注意到，他的徒弟们现在已经是一支可怕的部队了。于是他带领他们返回寺庙，去索要那个盒子。在大门口，他惊奇的发现苍老的导师正在等候，并且犹如迎接贵客一般接待着劫和他的弟子们。这个老人将他的剑放在劫的脚边，并声称他是一个失败的导师。因为他作为导师，没有能够将曾经的徒弟带回均衡之路，反而将劫放逐，迫使劫遁入了影子。苍老的导师恳求劫能够进入寺庙毁掉盒子，并带领他的追随者们重归均衡。于是这名暗黑忍者与导师一同走进寺庙。片刻后，已经集结的忍者们听到了劫发出了痛苦的大喊。让人费解的是，劫毫发无伤地现身，并将导师的头丢到了慎的脚边。伴随着狂暴的尖啸，劫命令他的部下们去屠杀导师的徒弟们，并夺取不祥之盒。那天，旧忍者教团覆灭。尽管有很多徒弟死去，但在慎的英勇抗争之下，也有一批徒弟得以逃生。现在，这所寺庙已经成为了影子教团的一处训练场所。劫是教团的主人，并且他的法令很简单：完善你的忍术，然后杀光所有拒绝拥抱影子的忍者。
              </p>
               <div class="menimg2" style="width: auto;height: auto;max-width: 600px;max-height: 500px;min-height: 450px;min-width: 700px;margin:0 auto;">
                <img src="../../images/rdsg3.jpg" style="width: auto;height: auto;max-width: 700px;max-height: 500px;">
              </div>
              <div class="auoio">
                <audio src="someaudio.wav" controls="controls">
                您的浏览器不支持 audio 标签。
                </audio>
              </div>
              
             </div>
              <div class="wq_gg2" style="margin-top: 50px;">
            <div style="width: auto;height: 30px;float: left;padding-left: 10px;">
             <img src="../../images/icon_chase.png" style="float: left;padding-top: 5px;padding-left: 5px;"> 
             
           </div>
              <p class="ywq" style="width: 500px;">
                如图， 正方形ABCD中，F为DC的中点阿大声道奥德赛阿什顿如图， 正方形ABCD中，F为DC的中点阿大声道奥德赛阿什顿如图， 正方形ABCD中，F为DC的中点阿大声道奥德赛阿什顿
              </p>
               <p class="ywq22">
                劫是200年以来第一个冲破古老、禁忌之路的忍者。他违抗了他的影流之主宗族和导师，抛弃了束缚他一生的均衡与信条。劫现在为那些拥抱影之奥义的人提供力量，并屠杀那些墨守成规的人。劫是一个孤儿，他被一名伟大的忍者大师收养并训练。在他心目中，只有一个人能与他匹敌，他就是大师的儿子，慎。劫似乎永远都得不到导师的青睐，因为他与对手们的每一次较量都是以平局结束。在挫败感和嫉妒心的驱使之下，他开始寻找取胜之道。这个年轻的忍者冒险进入了宗族寺庙里的禁地，并找到了一个装饰华美的不祥之盒。在感觉到盒子里的暗黑奥义后，劫知道他不应该打开它，尽管如此，他还是进行了窥探。顷刻间，影子触碰到了他的意念，并展示了被长期隐藏的禁忌忍术。凭借着这个秘密武器，他再次挑战了慎，且这一次他赢了。在这胜利时刻，他期待着赞许与认同，但不知为何，导师知道他使用了禁术，并将他驱逐了出去。劫屈辱地徘徊了数年。他将苦难转化为决心，并开始用影子流派来训练其他人。他的力量日益增长，他的追随者们也是如此，但他知道，少了那个不祥之盒，他的忍术将永不完美。某天，劫审视了他的跟随者们，并注意到，他的徒弟们现在已经是一支可怕的部队了。于是他带领他们返回寺庙，去索要那个盒子。在大门口，他惊奇的发现苍老的导师正在等候，并且犹如迎接贵客一般接待着劫和他的弟子们。这个老人将他的剑放在劫的脚边，并声称他是一个失败的导师。因为他作为导师，没有能够将曾经的徒弟带回均衡之路，反而将劫放逐，迫使劫遁入了影子。苍老的导师恳求劫能够进入寺庙毁掉盒子，并带领他的追随者们重归均衡。于是这名暗黑忍者与导师一同走进寺庙。片刻后，已经集结的忍者们听到了劫发出了痛苦的大喊。让人费解的是，劫毫发无伤地现身，并将导师的头丢到了慎的脚边。伴随着狂暴的尖啸，劫命令他的部下们去屠杀导师的徒弟们，并夺取不祥之盒。那天，旧忍者教团覆灭。尽管有很多徒弟死去，但在慎的英勇抗争之下，也有一批徒弟得以逃生。现在，这所寺庙已经成为了影子教团的一处训练场所。劫是教团的主人，并且他的法令很简单：完善你的忍术，然后杀光所有拒绝拥抱影子的忍者。
              </p>
               <div class="menimg2" style="width: auto;height: auto;max-width: 600px;max-height: 500px;min-height: 450px;min-width: 700px;margin:0 auto;">
                <img src="../../images/rdsg3.jpg" style="width: auto;height: auto;max-width: 700px;max-height: 500px;">
              </div>
              <div class="auoio">
                <audio src="someaudio.wav" controls="controls">
                您的浏览器不支持 audio 标签。
                </audio>
              </div>
              
             
               <div class="wdq_yero2" >

               <div class="vipclass" style="float: left;margin-left: 25px;">
              <img src="../../images/rBACE1blBSLwTsdyAAAmKibZOu8689_200x200_3.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>

            <div style="float: left;margin-top: 15px;padding-left: 10px;">
                <p style="float: left;color: #888888;padding-right:10px; ">
              权志龙
            </p>
            <div style="float: left;color: #888888;">
            <span style="margin-left: 2px;">2016.03.21</span>
            <span style="margin-left: 2px;">14:30</span>
            </div>
            
                
            </div>
               
           </div>
            </div>
             <div class="wq_gg2" style="margin-top: 50px;">
            <div style="width: auto;height: 30px;float: left;padding-left: 10px;">
             <img src="../../images/icon_answer.png" style="float: left;padding-top: 5px;padding-left: 5px;"> 
             
           </div>
              <p class="ywq" style="color: #888888;width: 500px;">
                16-03-14<span style="margin-left: 10px;">13:45</span>
              </p>
               <p class="ywq22">
                劫是200年以来第一个冲破古老、禁忌之路的忍者。他违抗了他的影流之主宗族和导师，抛弃了束缚他一生的均衡与信条。劫现在为那些拥抱影之奥义的人提供力量，并屠杀那些墨守成规的人。劫是一个孤儿，他被一名伟大的忍者大师收养并训练。在他心目中，只有一个人能与他匹敌，他就是大师的儿子，慎。劫似乎永远都得不到导师的青睐，因为他与对手们的每一次较量都是以平局结束。在挫败感和嫉妒心的驱使之下，他开始寻找取胜之道。这个年轻的忍者冒险进入了宗族寺庙里的禁地，并找到了一个装饰华美的不祥之盒。在感觉到盒子里的暗黑奥义后，劫知道他不应该打开它，尽管如此，他还是进行了窥探。顷刻间，影子触碰到了他的意念，并展示了被长期隐藏的禁忌忍术。凭借着这个秘密武器，他再次挑战了慎，且这一次他赢了。在这胜利时刻，他期待着赞许与认同，但不知为何，导师知道他使用了禁术，并将他驱逐了出去。劫屈辱地徘徊了数年。他将苦难转化为决心，并开始用影子流派来训练其他人。他的力量日益增长，他的追随者们也是如此，但他知道，少了那个不祥之盒，他的忍术将永不完美。某天，劫审视了他的跟随者们，并注意到，他的徒弟们现在已经是一支可怕的部队了。于是他带领他们返回寺庙，去索要那个盒子。在大门口，他惊奇的发现苍老的导师正在等候，并且犹如迎接贵客一般接待着劫和他的弟子们。这个老人将他的剑放在劫的脚边，并声称他是一个失败的导师。因为他作为导师，没有能够将曾经的徒弟带回均衡之路，反而将劫放逐，迫使劫遁入了影子。苍老的导师恳求劫能够进入寺庙毁掉盒子，并带领他的追随者们重归均衡。于是这名暗黑忍者与导师一同走进寺庙。片刻后，已经集结的忍者们听到了劫发出了痛苦的大喊。让人费解的是，劫毫发无伤地现身，并将导师的头丢到了慎的脚边。伴随着狂暴的尖啸，劫命令他的部下们去屠杀导师的徒弟们，并夺取不祥之盒。那天，旧忍者教团覆灭。尽管有很多徒弟死去，但在慎的英勇抗争之下，也有一批徒弟得以逃生。现在，这所寺庙已经成为了影子教团的一处训练场所。劫是教团的主人，并且他的法令很简单：完善你的忍术，然后杀光所有拒绝拥抱影子的忍者。
              </p>
               <div class="menimg2" style="width: auto;height: auto;max-width: 600px;max-height: 500px;min-height: 450px;min-width: 700px;margin:0 auto;">
                <img src="../../images/rdsg3.jpg" style="width: auto;height: auto;max-width: 700px;max-height: 500px;">
              </div>
              <div class="auoio">
                <audio src="someaudio.wav" controls="controls">
                您的浏览器不支持 audio 标签。
                </audio>
              </div>
              
             </div>
      </div>
      <!-- 内容结束 -->
      <div class="eqfom">
        <div class="cenet">
          
          <textarea class="teoi" cols="30" rows="4"  style="height: 160px;"></textarea>


        </div>
        <div class="dw_wang" >
        <div class="butooml2" > 
             
              <p class="tijiao" style="margin-top: 60px;">
                提交
              </p>
                
              </p>
            
                
              </div>
              <div class="luinwei" >
                <div class="bz" style="width: 80px;height: 142px;">        
              <div id="imgPreview" class="ds dsds" > 
                  <img src=""/ style="width: 80px;height: 70px;"> 
              </div> 
              <span class="input-file " style="margin-top: 5px;" id="dswwwv">
              上传图片
              
                <input type="file" onchange='PreviewImage(this)' / >
               
              </span>


                </div>
                <div class="shangc" style="margin-left: 20px;">
                <p id="gdger" style="position: absolute;bottom: -12px;"> 
                选择录音
                  <input id="test" type="file" multiple="multiple"/ style="position: absolute;top:1px;opacity: 0;">
                </p>
                 
                 <audio id="audio" controls="" style="margin-top: 28px;"></audio>
                </div>
           
              
              
             

                </div>
              </div>
              </div>
              
      </div>

       
    </div>
      
   
    </div>

    </ul>
    </div>
    </div>

    </div>
    </div>
  
     <div id="far" style="width: 100%;height: 88px;background: #fff;float: left;margin-top: 100px;border:1px solid #ccc;">
      <div style="width: 307px;height: 38px;margin:20px auto;">
        <p style="color: #333;font-size: 16px;">
          版权所有：北京天智通达信息技术有限公司
        </p>
        <p style="color: #333;font-size: 16px;margin:0 auto;width: auto;">
          copyright © 2015 京ICP备10209638-3号
        </p>
      </div>
    </div>
    <a class="to-top">Top</a>
  </body>
  <script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.jsjquery.goup.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>

  <script type="text/javascript" src="../../js/course.js">
  </script>
  <script type="text/javascript" src="../../js/echo.js"></script>



<script>
        $(function () {
            $("#test").change(function () {
                var objUrl = getObjectURL(this.files[0]);
                $("#audio").attr("src", objUrl);
                $("#audio")[0].play();
                $("#audio").show();
                getTime();
            });
        });
        <!--获取mp3文件的时间 兼容浏览器-->
        function getTime() {
            setTimeout(function () {
                var duration = $("#audio")[0].duration;
                if(isNaN(duration)){
                    getTime();
                }
                else{
                    console.info("该歌曲的总时间为："+$("#audio")[0].duration+"秒")
                }
            }, 10);
        }
        <!--把文件转换成可读URL-->
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    </script>
</html> 