<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      我的订单
    </title>
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/order.css">
     <link rel="stylesheet" href="../../css/fakeloader.css">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  
  <body>
  <div class="fakeloader" ></div>
    <!-- 导航 -->
    <nav class="navbar navbar-default navbar-fixed-top  viodd ">
      <div class=" container viowidth">
        <div class="navbar-header vbi vopww">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand " href="#">
            <img src="../../images/5345.png" style="margin-top: -5px;">
          </a>
        </div>
        <div class="collapse navbar-collapse vilind" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav vipsds ">
             <li class="h4 ">
              <a href="../Settings/index.html">
                首页
              </a>
            </li>
            <li class="h4">
              <a href="../course/course.html" >
                课程
              </a>
            </li>
            <li class="h4">
              <a href="../Live/broadcast.html" >
                直播
              </a>
            </li>
            <li class="h4">
              <a href="../DMM/DMM.html" >
                DMM课件
              </a>
            </li>
            <li class="h4">
              <a href="../Mentoring/Mentoring.html" >
                答疑
              </a>
            </li>
            <li class="h4">
              <a href="../orderform/order.html" class="wdq">
                订单
              </a>
            </li>
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-header vbi ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="" aria-expanded="false">
            <span class="glyphicon glyphicon-user">
            </span>
          </button>
        </div>
        <div class="collapse navbar-collapse vierr" id="bs-example-navbar-collapse-1">
         
          <div class="nav navbar-nav wrrt ">
           <a href="../Settings/ZOE.html">
            <div class="vipclass">
              <img src="../../images/f16e2ddda3cc7cd912b878833b01213fb90e9110.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>
            <p class="vipgd">
              wangchongVIP@
            </p>
            <p style="float: left;line-height: 36px;line-height: 42px;">
              <img src="../../images/33.png" style="cursor: pointer;">
            </p>
          </div>
        </div>
        </a>
        <!-- /.navbar-collapse -->
        </li>
        </ul>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- 导航结束 -->
    <div id="vip">
      <!-- 内容部分 -->
      <div id="vipcenter">
        <div class="vip_wqv">
          <div class="wqe_rr" style="background:url(../../images/bg.png) 0 0 no-repeat;">
          </div>
          <div class="weq_e">
            <div class="col-lg-6 wvd_g ">
              <div class="input-group">
                
                <input type="text" class="form-control" placeholder="输入订单名称...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="dq_fe">
              <div class="dww vip_gg">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  全部订单
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  JAVA开发实训
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  HTML5实战
                </p>
                <p class="p_q" style="float: left;margin-left: 10px;font-size: 16px;">
                  (85)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="vip_wva" style="padding-top: 20px;">
          <!-- <div class="wd_rrg">
            <div class="rqw_y">
            </div>
            <p style="margin-left: 50px;line-height: 40px;color: #2598f9;font-size: 16px;">
              全部订单
            </p>
          </div> -->
          <div class="wd_rrge">
            <ul class="wdgq" style="float: right;min-width: 470px;height: 50px;padding-left: 100px;">
              <li class="asd dsd">
                <p>
                  全部
                  <span>
                    (85)
                  </span>
                </p>
              </li>
              <li class="asd " style="margin-left: 20px;">
                <p>
                  今日
                  <span>
                    (85)
                  </span>
                </p>
              </li>
              <li class="asd " style="margin-left: 20px;width: auto;">
                <p>
                  最近一个月
                  <span>
                    (85)
                  </span>
                </p>
              </li>
             
            </ul>
          </div>
          <div id="list">
           <div class="order_a">
             <div class="order_b">
                <p class="ds_dw" >
                  订单号：2016032100001
                </p>
                <div id="woihh">
               
                <p class="ds_g" >
                  2016.03.21
                </p>
                 <p class="ds_g" style="">
                  14:18
                </p>
                </div>
                
             </div>
             <div class="ds_wwf">
              <div class="ds_wff">
                <img src="../../images/rdsg3.jpg" style="width: 225px;height: 87px;">
                <div class="poans">
                  课程
                </div>
                
              </div>
              <div class="ywo">
              <p style="font-size: 12px;color: #333;">高一化学必修2同步课</p>
              <p style="color: red;">￥199.00</p>
                
              </div>
               <div style="width: 74px;height: 36px;position: absolute;right: 1px;bottom: 25px;right: 25px;">
                 <img src="../../images/jiaoyiwancheng.png" style="margin-top: 20px;">
               </div>
              <div class="wdq_yero">
                <p class="vipgd" style="margin-top: 15px;float: right;">
              wangchong<span style="margin-left: 2px;">山东济宁</span>
            </p>
                <div class="vipclass" style="float: right;margin-top: 20px;margin-left: 15px;">
              <img src="../../images/f16e2ddda3cc7cd912b878833b01213fb90e9110.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>
            
            

                
              </div>
               
             </div>
           </div>
          <nav style="text-align: center" class="">
            <ul class="pagination vipch ">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">
                    &laquo;
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  1
                </a>
              </li>
              <li>
                <a href="#">
                  2
                </a>
              </li>
              <li>
                <a href="#">
                  3
                </a>
              </li>
              <li>
                <a href="#">
                  4
                </a>
              </li>
              <li>
                <a href="#">
                  5
                </a>
              </li>
              <li>
                <a href="#">
                  6
                </a>
              </li>
              <li>
                <a href="#">
                  7
                </a>
              </li>
              <li>
                <a href="#">
                  ...
                </a>
              </li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">
                    &raquo;
                  </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- 内容结束 -->
    </div>
    <div id="far" style="width: 100%;height: 88px;background: #fff;float: left;margin-top: -3px;">
      <div style="width: 307px;height: 38px;margin:20px auto;">
        <p style="color: #333;font-size: 16px;">
          版权所有：北京天智通达信息技术有限公司
        </p>
        <p style="color: #333;font-size: 16px;margin:0 auto;width: auto;">
          copyright © 2015 京ICP备10209638-3号
        </p>
      </div>
    </div>
    </div>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <a class="to-top">Top</a>
    
  </body>

  

  <script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>
  <script type="text/javascript" src="../../js/course.js">
  </script>
   <script >
    //加载动画
$(function () {
   $(document).ready(function(){
                $(".fakeloader").fakeLoader({
                    timeToHide:1200,
                    bgColor:"#63a4db",
                    spinner:"spinner3"
                });
                $(".viodd").hide();
                setTimeout(function () {
                  $(".viodd").show();
                },1300)
            });
})

  </script>

</html>