<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      单册详情
    </title>
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/fakeloader.css">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  
  <body style="padding-top: 0;">
  <div class="fakeloader" ></div>
 
    <!-- 导航 -->
   
    <!-- 导航结束 -->
    <div id="vip" style="height: auto;">
      <!-- 内容部分 -->
      <div id="vipcenter" style="height: auto;min-height: 1100px;">
       
        <div class="vip_wva" style="padding-bottom: 20px;float: left;">
          <div class="wd_rrg">
            
            <p style="margin-left: 20px;line-height: 40px;color: #333;font-size: 16px;">
              当前位置：<a style="text-decoration: none;color:#2598f9;font-size: 16px;">初中语文>简介</a>
            </p>
          </div>
         <div class="out_w">
          <img src="../../images/icon_yishenhe.png" style="position: absolute;right: 33px;top:25px;">
         <div class="vi_o" style="background:url(../../images/bg_DMM.png) 0 0 no-repeat;">
         <div style="width: 116px;height: 153px;margin:8px auto;">
         <img src="../../images/rBACFFZpReGAhzMGAAAgQ3lPycQ938_200x200_3.jpg" style="width: 116px;height: 153px;">
         </div>
           
         </div>
         <div class="qe_u">
         <p style="color: #333;font-size: 16px;">小学语文第二册知识点讲解与分析</p>
         <p style="color: #888888;font-size: 14px;">创建: 2016-03-20 </p>
         <p style="color: #888888;font-size: 14px;">价格：<a style="text-decoration:none;color: red;font-size: 16px;">600元</a></p>
       
         <div class="uiy_iuu">
           <li>
             <div style="color: #888888;font-size: 14px;float: left;width: 120px;text-align: center;padding-top: 10px;">已购买人数</div>
             <div style="color: #2598f9;font-size: 14px;text-align: center;">120</div>
           </li>
           <li style="border-right: none;border-left: none;">
              <div style="color: #888888;font-size: 14px;float: left;width: 120px;text-align: center;padding-top: 10px;">学生满意度</div>
             <div style="color: #2598f9;font-size: 14px;text-align: center;">100%</div>
           </li>
           <li>
              <div style="color: #888888;font-size: 14px;float: left;width: 120px;text-align: center;padding-top: 10px;">收藏人数</div>
             <div style="color: #2598f9;font-size: 14px;text-align: center;">80</div>
           </li>
         </div>

          
        
         </div>
        
           
         </div>
        <div class="uiy_asd">
         <div class="uiy_ul">
         
          <a href="bicycleChecked.html"><li style="width: 350px;" class="uly_color">简介</li></a>
        
         <a href="bicyclediscuss.html"><li style="width: 350px;" >评论</li></a>
           
         </div>
        
          <div class="uly_text">
          <li>
            <p style="color: #333;font-size: 16px;">课程目标:</p>
            <p style="color:#888888;font-size: 14px; ">让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门</p>
              
            </p>
          </li>
          <li>
            <p style="color: #333;font-size: 16px;">课程特色:</p>
            <p style="color:#888888;font-size: 14px; ">让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门</p>
              
            </p>
          </li>
          <li>
            <p style="color: #333;font-size: 16px;">适用人群:</p>
            <p style="color:#888888;font-size: 14px; ">让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门让不懂股票的人真正在股票教学中快速学习基本知识 进行入门</p>
              
            </p>
          </li>
           
         </div>

         </div>

      
         </div>
        </div>
      </div>
      <!-- 内容结束 -->
    </div>
    <div id="far" style="width: 100%;height: 88px;background: #fff;float: left;">
      <div style="width: 307px;height: 38px;margin:20px auto;">
        <p style="color: #333;font-size: 16px;">
          版权所有：北京天智通达信息技术有限公司
        </p>
        <p style="color: #333;font-size: 16px;margin:0 auto;width: auto;">
          copyright © 2015 京ICP备10209638-3号
        </p>
      </div>
    </div>
    </div>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <a class="to-top">Top</a>
  
  </body>
  
  <script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>
  <script type="text/javascript" src="../../js/course.js">
  </script>
  <script >
 /*   //加载动画
$(function () {
   $(document).ready(function(){
                $(".fakeloader").fakeLoader({
                    timeToHide:1200,
                    bgColor:"#63a4db",
                    spinner:"spinner3"
                });
                $(".viodd").hide();
                setTimeout(function () {
                  $(".viodd").show();
                },1300)
            });
})*/
//溢出文本处理
 $.fn.extend({
    displayPart:function () {
    var displayLength = 125;
    displayLength = this.attr("displayLength") || displayLength;
    var text = this.text();
    if (!text) return "";
    var result = "";
    var count = 0;
    for (var i = 0; i < displayLength; i++) {
    var _char = text.charAt(i);
    if (count >= displayLength) break;
    if (/[^x00-xff]/.test(_char)) count++; //双字节字符，//[u4e00-u9fa5]中文
    result += _char;
    count++;
    }
    if (result.length < text.length) {
    result += "...";
    }
    this.text(result);
    }
    });
    $(function () {
    $(".displayPart").displayPart();
    });


  </script>
  

</html>