<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      身份认证
    </title>
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/fakeloader.css">
    <link rel="stylesheet" href="../../css/index.css">
      <link rel="stylesheet" href="../../css/newcourse.css">
    <link rel="stylesheet" href="../../css/ZOE.css">

    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  
  <body>
  <div class="fakeloader" ></div>
 
    <!-- 导航 -->
    <nav class="navbar navbar-default navbar-fixed-top  viodd ">
      <div class=" container viowidth">
        <div class="navbar-header vbi vopww">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand " href="#">
            <img src="../../images/5345.png" style="margin-top: -5px;">
          </a>
        </div>
        <div class="collapse navbar-collapse vilind" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav vipsds ">
            <li class="h4 ">
              <a href="../Settings/index.html">
                首页
              </a>
            </li>
            <li class="h4">
              <a href="../course/course.html" >
                课程
              </a>
            </li>
            <li class="h4">
              <a href="../Live/broadcast.html" >
                直播
              </a>
            </li>
            <li class="h4">
              <a href="../DMM/DMM.html" >
                DMM课件
              </a>
            </li>
            <li class="h4">
              <a href="../Mentoring/Mentoring.html" >
                答疑
              </a>
            </li>
            <li class="h4">
              <a href="../orderform/order.html">
                订单
              </a>
            </li>
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-header vbi ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="" aria-expanded="false">
            <span class="glyphicon glyphicon-user">
            </span>
          </button>
        </div>
        <div class="collapse navbar-collapse vierr" id="bs-example-navbar-collapse-1">
           
          <div class="nav navbar-nav wrrt ">
          <a href="../Settings/ZOE.html">
            <div class="vipclass">
              <img src="../../images/f16e2ddda3cc7cd912b878833b01213fb90e9110.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>
            <p class="vipgd">
              wangchongVIP@
            </p>
            <p style="float: left;line-height: 36px;line-height: 42px;">
              <img src="../../images/33.png" style="cursor: pointer;">
            </p>
          </div>
        </div>
        </a>
        <!-- /.navbar-collapse -->
        </li>
        </ul>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- 导航结束 -->
    
      <!-- 内容部分 -->
     <div id="vipcenter" style="min-height: 1290px;">
        <div class="vip_wqv">
          <a href="newcourse.html">
            <div class="wqe_rr" style="background:url(../../images/bg.png) 0 0 no-repeat;">
          </div>
          </a>
          <div class="weq_e" style="min-height: 300px;">
            <div class="col-lg-6 wvd_g ">
              <div class="input-group">
               
                <input type="text" class="form-control" placeholder="输入课程名称...">
                 <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search">
                    </span>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="dq_fe" style="height: 170px;">
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <a href="ZOE.html">
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  基本信息
                </p>
                </a>
                
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <a href="varpassword.html">
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  修改密码
                </p>
                </a>
              
              </div>
              <div class="dww ">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <a href="setmen.html">
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  答疑设置
                </p>
                </a>
               
              </div>
              <div class="dww vip_gg">
                <p class="img" style="float: left;margin-top: 5px;">
                </p>
                <a href="authentication.html">
                <p class="p_d" style="float: left;margin-left: 10px;font-size: 16px;">
                  身份认证
                </p>
                </a>
               
              </div>
            </div>
             <a href="../Settings/index.html">
             <div class="over">
            退出登录
          </div>
          </a>
          </div>
         
        </div>
        <div class="vip_wva" style="min-height: 1200px;">
          <div class="wd_rrg" style="height: 90px;">
            
             <div class="kec" style="padding-left: 10px;">
              <p>当前位置：</p>
              <p>个人中心></p>
              <p style="color: #3c8dcc;">身份认证</p>
            </div>
          </div>
        <div class="tengn" style="padding-top: 10px;">
        <p>认证老师4大特权</p>
        <div class="vip">
        <li>
          <img src="../../images/xiaoshoushipin.png">
        </li>
        <li style="margin-left: 20px;">
          <img src="../../images/xiaoshoukejian.png">
        </li>
        <li style="margin-left: 20px;">
          <img src="../../images/zaixianzhibo.png">
        </li>
        <li style="margin-left: 20px;">
          <img src="../../images/youchangdayi.png">
        </li>
          
        </div>
        </div>
        <div class="vip_wo">
           <li style="margin-top: 20px;">
            <div style="float: left;">
                <span style="color:red;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">真实姓名:</span>
                </div>
               <p style="color:#888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;">贝克拉·奥巴马</p>
               
            </li>
             <li style="margin-top: 20px;">
            <div style="float: left;">
                <span style="color:red;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">身份证号:</span>
                </div>
                <p style="color:#888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;">37088219950801321X</p>
            </li>
             <li style="margin-top: 20px;width: 545px;height: 20px;" class="bens">
            <div style="float: left;" class="kui">
                <span style="color:red;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">擅长领域:</span>
                </div>

                <p style="color:#888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;width: 400px;
                float: left;"><span>1、</span>C语言、计算机编辑基础</p>
                


              
                        
            </li>
            <li style="margin-top: 20px;width: 545px;height: 20px;" class="bens">
            <div style="float: left;opacity: 0;" class="kui" >
                <span style="color:red;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">擅长领域:</span>
                </div>

                <p style="color: #888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;width: 400px;
                float: left;"><span>2、</span>C语言、计算机编辑基础</p>
                


              
                        
            </li>
             <li style="margin-top: 20px;width: 545px;height: 20px;" class="bens">
            <div style="float: left;opacity: 0;" class="kui" >
                <span style="color:red;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">擅长领域:</span>
                </div>

                <p style="color: #888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;width: 400px;
                float: left;"><span>3、</span>打野、保护前排输出</p>
                


              
                        
            </li>

        </div>
        <div class="leis">
        <div style="width: 600px;height: auto;float: left;">
            <span style="color:red;">*</span>
            <span style="font-size:14px;color:#333;line-height: 30px;">身份证照片:</span>
        </div>
        <div class="sd">
            <div class="bz ss_d">        
             <img src="../../images/34535g.png">
                </div>


                <div class="bz ss_d" style="margin-left: 80px;">        
             <img src="../../images/u130.png">
                </div>
                </div>

          
        </div>
        <div class="vip_wo">
           <li style="margin-top: 20px;">
            <div style="float: left;">
                <span style="color:red;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">电子邮箱:</span>
                </div>
                  <p style="color: #888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;width: 400px;
                float: left;">qweqwejk@126.com</p>
                
            </li>
             <li style="margin-top: 20px;">
            <div style="float: left;">
                <span style="color:red;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">手机号码:</span>
                </div>
               <p style="color:#888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;width: 400px;
                float: left;">13655377451</p>
            </li>
             <li style="margin-top: 20px;padding-left: 15px;">
            <div style="float: left;">
                <span style="color:red;opacity: 0;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">支付宝:</span>
                </div>
               <p style="color:#888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;width: 400px;
                float: left;">907634055@qq.com</p>
            </li>
             <li style="margin-top: 20px;padding-left: 32px;">
            <div style="float: left;">
                <span style="color:red;opacity: 0;">*</span>
                <span style="font-size:14px;color:#333;line-height: 30px;">微信:</span>
                </div>
                <p style="color:#888;font-size:12px;float: left;margin-left: 50px;line-height: 30px;width: 400px;
                float: left;">w907634055</p>
            </li>
            
        </div>
        <div class="vip_wp">
        <div class="vip_pw">
          <p>您已提交认证,请耐心等待</p>
         
          <img src="../../images/icon_tips.png" style="position: absolute;right: 1px;top:-40px;">
        </div>
          
        </div>
      
         </div>
      </div>

      <!-- 内容结束 -->
  
   <div id="bottom" style="background-color: #fff;margin-top:30px;border-top:1px solid #ccc;">
     <ul style="width: 1024px;height: 180px;margin:0 auto;" class="uf">
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            下载专区
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            开心课堂学生APP
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            开心课堂老师APP
                        </p>
                    </li>
                     <li >
                        <p style="font-size: 16px;color: #3fa0f9;">
                            开心课堂官方微博
                        </p>
                        <div style="height: 35px;margin-top: -12px;">
                           
                        </div>
                        <div style="height: 76px;">
                            <div style="margin:0 auto;width: 75px;height: 75px;">
                                <img src="../../images/weixin.png" style="width: 75px;height: 75px;">
                            </div>
                           
                        </div>
                    </li>
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            关于我们
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            <a style="text-decoration:none;color: #9b9b9b;" href="javascript:"
                            target="view_window">
                                用户协议
                            </a>
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            <a style="text-decoration:none;color: #9b9b9b;" href="javascript:"
                            target="view_window">
                                400-100-8888
                            </a>
                        </p>
                        
                    </li>
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            联系我们
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            意见反馈
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            新浪微博
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            开心课堂用户群:</br>208919116
                        </p>
                    </li>
                   
                </ul>
                </div>
    </div>
    </ul>
    </div>
    </div>
    </div>
    </div>
   
  
  </body>
  
  <script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>
   <script type="text/javascript" src="../../js/echo.js"></script>
 
  <script type="text/javascript" src="../../js/ZOE.js">
  </script>
<script >
  /* //加载动画
 $(function () {
  $(document).ready(function(){
               $(".fakeloader").fakeLoader({
                   timeToHide:1200,
                   bgColor:"#63a4db",
                   spinner:"spinner3"
               });
               $(".viodd").hide();
               setTimeout(function () {
                 $(".viodd").show();
               },1300)
           });
 })*/
 
 </script>
  

</html>