<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<title>登录</title>
<link rel="stylesheet" href="../../css/jq22.css">
<link rel="stylesheet" href="../../css/enroll.css">
<link rel="stylesheet" href="../../css/reset.css">
<link rel="stylesheet" href="../../css/animate.min.css"/>
<link rel="stylesheet" href="../../css/common.css"/>

</head>
<body>
<div id="zhuce">
    <div id="center_a">

        <div class="out">
        <div class="xd">
        <img src="../../images/5345.png">
        </div>
            
        </div>
<!-- begin -->
<div id="login">
    <div class="wrapper">
        <div class="login">
            <form action="#" method="post" class="container offset1 loginform">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad" >
                    <input type="hidden" name="_csrf" value="9IAtUxV2CatyxHiK2LxzOsT6wtBE6h8BpzOmk=">
                    <div class="control-group">
                        <div class="controls">
                            <label for="email" class="control-label fa fa-envelope"></label>
                            <input id="email" type="email" name="email" placeholder="手机号/邮箱" tabindex="1" autofocus="autofocus" class="form-control input-medium" maxlength="24">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password" type="password" name="password" placeholder="密码" tabindex="2" class="form-control input-medium" maxlength="20"> 
                        </div>
                    </div>
                    <ul id="dali">
               <li>
                   <div class="bz3" style="position: relative;width: 130px;float: left;">
                   <img src="../../images/asd_03.png"  id="cb"  style="margin-top: -2px;"> 
                            <img src="../../images/000.png"id="tick" style="width:18px;height:18px;cursor: pointer;position: absolute;left: 10px;display: none;top:-3px;">
                             <span style="margin-left: 5px;padding-top: 5px;color:#888888;font-size: 12px;">两周内自动登录</span> 
                            
                            

                        </div>

                        <div class="bz3 oi" style="position: relative;width: auto;float: left;padding-left: 90px;">
                             <span style="font-size: 12px;cursor: pointer;" class="rubberBand">立即注册</span>
                             <span style="margin-left: 5px;padding-top: 5px;cursor: pointer;font-size: 12px;" class="katun rotateInDownLeft">忘记密码</span> 
                            
                            

                        </div>


               </li>
               <a>
               <li class="qieos demo10" style="margin-top: 10px;">
                   登录
               </li>
               </a>
                </div>
               
               
                   
               </ul>
            </form>
        </div>
    </div>
     
</div>
<!-- end -->
</div>
</div>
<div id="bottom">
     <ul style="width: 1024px;height: 180px;margin:0 auto;" class="uf">
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            下载专区
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            开心课堂学生APP
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            开心课堂老师APP
                        </p>
                    </li>
                     <li >
                        <p style="font-size: 16px;color: #3fa0f9;">
                            开心课堂官方微博
                        </p>
                        <div style="height: 35px;margin-top: -12px;">
                           
                        </div>
                        <div style="height: 76px;">
                            <div style="margin:0 auto;width: 75px;height: 75px;">
                                <img src="../../images/weixin.png" style="width: 75px;height: 75px;">
                            </div>
                           
                        </div>
                    </li>
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            关于我们
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            <a style="text-decoration:none;color: #9b9b9b;" href="javascript:"
                            target="view_window">
                                用户协议
                            </a>
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            <a style="text-decoration:none;color: #9b9b9b;" href="javascript:"
                            target="view_window">
                                400-100-8888
                            </a>
                        </p>
                        
                    </li>
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            联系我们
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            意见反馈
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            新浪微博
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            开心课堂用户群:</br>208919116
                        </p>
                    </li>
                   
                </ul>
                </div>

        <!-- 注意：请将要放入弹框的内容放在比如id="HBox"的容器中，然后将box的值换成该ID即可，比如：$(element).hDialog({'box':'#HBox'}); -->
        <div id="HBox" style="border-radius: 2px;padding-top: 10px;" >
         <div class="box_ss">
          <div class="dwdw">
          <p style="color: #2598f9;font-size: 16px;float: left;line-height: 37px;">
              注册
          </p>
          <div style="color: #333;font-size: 14px;float: right;line-height: 37px;font-size: 12px;">
              已有开心课堂账号?
            <a href="enroll.html" style="color: #2598f9;font-size: 14px;float: left;line-height: 37px;float: right;padding-left: 5px;font-size: 12px;">立即登录</a>
          </div>
              
          </div>
            <form action="" method="post" onsubmit="return false;">
                <ul class="list" style="padding-left: 5px;padding:20px 0;">
                    
                    <li>
                       
                        <div class="fl"><input type="text" placeholder="手机号/邮箱" name="phone" value="" class="ipt phone" /style="height: 37px;width: 295px;"></div>
                    </li>
                    <li>
                     
                        <div class="fl"><input type="text" placeholder="密码" name="email" value="" class="ipt email" / style="height: 37px;width: 295px;"></div>
                    </li>
                     <li>
                     
                        <div class="fl"><input type="text" placeholder="确认密码" name="email" value="" class="ipt email oiuss" / style="height: 37px;width: 295px;"></div>
                    </li>
                    <li>
                     
                        <div class="fl" style="width: 100%;">
                        <input type="text" placeholder="验证码" name="email" value="" class="ipt email  piuss" / style="height: 37px;width: 193px;float: left;">

                         <p style="width:90px;float: left;margin-left: 12px;color: #fff;font-size: 14px;text-align: center;line-height: 37px;background-color: #2598f9;border-radius: 5px;cursor: pointer;">获取验证码</p>
                       
                        </div>
                    </li>
                    <li style="position: relative;padding-left: 40px;width: 100%;">
                     <img src="../../images/asd_03.png"  id="cb"  style="margin-top: -2px;"> 
                            <img src="../../images/000.png"id="tick" style="width:18px;height:18px;cursor: pointer;position: absolute;left: 40px;top:-3px;">
                             <span style="margin-left: 5px;padding-top: 5px;color:#888888;font-size: 12px;">我已经阅读并同意<a style="cursor: pointer;width: auto;font-size: 12px;">《开心课堂网络服务使用协议》</a></span> 
                     
                      
                    </li>
                   
                    <li style="padding-left: 1px;"><input type="submit" value="注册" class="submitBtn" / ></li>
                </ul>
            </form>
            </div>
            </div>



            <div id="forget_password" style="border-radius: 2px;padding-top: 10px;display:none" >
                <div class="box_ss">
                 <div class="dwdw">
                 <p style="color: #2598f9;font-size: 16px;float: left;line-height: 37px;">
         忘记密码
                 </p>
                 <div style="color: #333;font-size: 14px;float: right;line-height: 37px;font-size: 12px;">
         已有开心课堂账号?
       <a href="enroll.html" style="color: #2598f9;font-size: 14px;float: left;line-height: 37px;float: right;padding-left: 5px;font-size: 12px;">立即登录</a>
                 </div>
         
                 </div>
       <form action="" method="post" onsubmit="return false;">
           <ul class="list dt" style="padding-left: 5px;padding:20px 0;margin-top: 15px;margin-left: 10px;height: auto;">
               <div id="piog">
                <div class="hzi">
                <div class="one">
               <li>
                  
                   <div class="fl">
                   <input type="text" placeholder="手机号" name="phone" value="" class="ipt phone " /style="height: 40px;width: 295px;" id="herk">
                   </div>
               </li>
              
               <li>
                
                   <div class="fl" style="width: 100%;">
                   <input type="text" placeholder="验证码" name="email" value="" class="ipt email piuss " / style="height: 40px;width: 193px;float: left;" id="kerw">
       
                    <p style="width:90px;float: left;margin-left: 12px;color: #fff;font-size: 14px;text-align: center;line-height: 37px;background-color: #2598f9;border-radius: 5px;cursor: pointer;" >发送验证码</p>
                  
                   </div>
               </li>
               <li style="position: relative;padding-left: 40px;width: 100%;margin-top: 15px;">
                <img src="../../images/asd_03.png"  id="cb"  style="margin-top: -2px;"> 
                       <img src="../../images/000.png"id="tick" style="width:18px;height:18px;cursor: pointer;position: absolute;left: 40px;top:-3px;">
                        <span style="margin-left: 5px;padding-top: 5px;color:#888888;font-size: 12px;">我已经阅读并同意<a style="cursor: pointer;width: auto;font-size: 12px;">《开心课堂网络服务使用协议》</a></span> 
                
                 
               </li>
              
               <li style="padding-left: 1px;">
               <input type="submit" value="提交" class="koss"  / >
               </li>
               <li style="padding-left: 1px;">
               <a class="bigo" >使用邮箱找回</a>
               </li>
               </div>

                <div class="one fit" style="margin-top:20px;">
               <li>
                  
                   <div class="fl">
                   <input type="text" placeholder="邮箱" name="phone" value="" class="ipt phone " /style="height: 37px;width: 295px;" id="herk">
                   </div>
               </li>
              
               <li>
                
                   <div class="fl" style="width: 100%;">
                  
       
                    <p style="width:295px;color: #fff;font-size: 14px;text-align: center;line-height: 37px;background-color: #2598f9;border-radius: 5px;cursor: pointer;float: left;" class="cout" >发送到邮箱</p>
                  
                   </div>
               </li>
               
              
               
               <li style="padding-left: 1px;">
               <a class="bigo2" >使用手机找回</a>
               </li>
               </div>
                <div class="iow">
               <li style="width: 100%;">
                  
                   <div class="fl" style="width: auto;">
                   <p style="color: #333;font-size: 16px;float: left;">
                     验证链接已发送成功！
                   </p>
                    <p style="color: red;font-size: 14px;float: left;width: auto;padding-top: 10px;">
                     (请立即完成验证，邮箱验证不通过则修改失败)
                   </p>
                   <p style="color: #888888;font-size: 12px;float: left;width: auto;padding-top: 10px;">
                     验证邮件24小时内有效，请尽快登录您的邮箱点击验证链接完成验证。
                   </p>
                  
                   </div>
               </li>
               
              
               
               <li class="chakan" style="margin-top: 10px;">
                查看验证邮件
               </li>
               </div>
               </div>
               </div>
           </ul>

            <ul class="list dt2" style="padding-left: 5px;padding:30px 0;display: none;margin-top: 15px;margin-left: 10px;">
               
               <li>
                  
                   <div class="fl">
                   <input type="password" placeholder="输入密码" name="phone" value="" class="ipt phone " /style="height: 40px;width: 295px;"
                   id="comis">
                   </div>
               </li>
              
               <li>
                     
                        <div class="fl"><input type="password" placeholder="确认密码" name="email" value="" class="ipt email oiuss" / style="height: 40px;width: 295px;" id="ovpas"></div>
                    </li>
               
              
               <li style="padding-left: 1px;">
               <input type="submit" value="保存" class="losthot"  / ></li>
           </ul>

          

          
       </form>
       </div>
       </div>
       






       
</body>
<script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js"></script>
<script src="../../bootstrap.dolang/js/jquery.hDialog.js"></script>
<script src="../../bootstrap.dolang/js/jquery.easing.min.js"></script>
<script src="../../js/enroll.js"></script>

    
</html>