<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      意见反馈
    </title>
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/fakeloader.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/feedback.css">

    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  
  <body>
  <div id="banner_pwo">
  <div class="ceno">
  <img src="../../images/5345.png" style="margin-top: 20px;margin-left: 100px;">
    <div class="center_o">
    <div class="centu_i">
     <div class="zpcolo">
      <p>当前位置:</p>
      <p>首页</p>
      <p style="color: #2598f9;">>意见反馈</p>
      </div>
      <div class="yuyuio">
        <textarea  cols="30" rows="4"  style="width: 700px;height: 200px;resize: none;" class="text_color"></textarea>

      </div>
        <div class="iop_dds">
     <!--  <li >
            <div style="float: left;">
           
             <span style="font-size: 14px;color:#333;">QQ:</span>
             </div>
             <input type="text" class="input_clor"  style="margin-left: 16px;">
             <p style="float: left;margin-left: 10px;font-size: 12px;color:red;line-height: 25px;opacity: 0;">课程题目不能为空!</p>
           </li>
             <li style="margin-top: 10px;">
            <div style="float: left;">
           
             <span style="font-size: 14px;color:#333;">微信:</span>
             </div>
             <input type="text" class="input_clor"  style="margin-left: 10px;">
             <p style="float: left;margin-left: 10px;font-size: 12px;color:red;line-height: 25px;opacity: 0;">课程题目不能为空!</p>
           </li>
           <li style="margin-top: 10px;">
            <div style="float: left;">
           
             <span style="font-size: 14px;color:#333;">手机:</span>
             </div>
             <input type="text" class="input_clor" style="margin-left: 10px;" >
             <p style="float: left;margin-left: 10px;font-size: 12px;color:red;line-height: 25px;opacity: 0;">课程题目不能为空!</p>
           </li> -->
           <input type="text" class="input_clor" placeholder="留下您的联系方式 ，QQ、手机、邮箱任选其一" style="width: 700px;height:50px;padding-left: 10px;">
        </div>


      <div class="sdas_dd">
        <div class="d_p">
          提交
        </div>
      </div>
    </div>
      
    </div>
  </div>
    
 
   
    </div>
   <div id="bottom" style="background-color: #fff;float: left;">
     <ul style="width: 1024px;height: 180px;margin:0 auto;" class="uf">
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            下载专区
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            开心课堂学生APP
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            开心课堂老师APP
                        </p>
                    </li>
                     <li >
                        <p style="font-size: 16px;color: #3fa0f9;">
                            开心课堂官方微博
                        </p>
                        <div style="height: 35px;margin-top: -12px;">
                           
                        </div>
                        <div style="height: 76px;">
                            <div style="margin:0 auto;width: 75px;height: 75px;">
                                <img src="../../images/weixin.png" style="width: 75px;height: 75px;">
                            </div>
                           
                        </div>
                    </li>
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            关于我们
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            <a style="text-decoration:none;color: #9b9b9b;" href="javascript:"
                            target="view_window">
                                用户协议
                            </a>
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            <a style="text-decoration:none;color: #9b9b9b;" href="javascript:"
                            target="view_window">
                                400-100-8888
                            </a>
                        </p>
                        
                    </li>
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            联系我们
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            意见反馈
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            新浪微博
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            开心课堂用户群:</br>208919116
                        </p>
                    </li>
                   
                </ul>
                </div>
    </div>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <a class="to-top">Top</a>
    </div>
  
  </body>
  
  <script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>
  <script type="text/javascript" src="../../js/index.js">
  </script>
<script >
/*   //加载动画
 $(function () {
  $(document).ready(function(){
               $(".fakeloader").fakeLoader({
                   timeToHide:1200,
                   bgColor:"#63a4db",
                   spinner:"spinner3"
               });
               $(".viodd").hide();
               setTimeout(function () {
                 $(".viodd").show();
               },1300)
           });
 })*/
 
 </script>
  

</html>