<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      消息中心
    </title>
    <link rel="stylesheet" href="../../bootstrap.dolang/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/fakeloader.css">
    <link rel="stylesheet" href="../../css/index.css">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  
  <body>
  <div class="fakeloader" ></div> 
 
    <!-- 导航 -->
    <nav class="navbar navbar-default navbar-fixed-top  viodd ">
      <div class=" container viowidth">
        <div class="navbar-header vbi vopww">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand " href="#">
            <img src="../../images/5345.png" style="margin-top: -5px;">
          </a>
        </div>
        <div class="collapse navbar-collapse vilind" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav vipsds ">
           <li class="h4 ">
              <a href="../Settings/index.html">
                首页
              </a>
            </li>
            <li class="h4">
              <a href="../course/course.html" >
                课程
              </a>
            </li>
            <li class="h4">
              <a href="../Live/broadcast.html" >
                直播
              </a>
            </li>
            <li class="h4">
              <a href="../DMM/DMM.html" >
                DMM课件
              </a>
            </li>
            <li class="h4">
              <a href="../Mentoring/Mentoring.html" >
                答疑
              </a>
            </li>
            <li class="h4">
              <a href="../orderform/order.html">
                订单
              </a>
            </li>
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-header vbi ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="" aria-expanded="false">
            <span class="glyphicon glyphicon-user">
            </span>
          </button>
        </div>
        <div class="collapse navbar-collapse vierr" id="bs-example-navbar-collapse-1">
        
          <div class="nav navbar-nav wrrt ">
           <a href="../Settings/ZOE.html">
            <div class="vipclass">
              <img src="../../images/f16e2ddda3cc7cd912b878833b01213fb90e9110.jpg" style="width: 36px;
              height: 36px;border-radius: 50px;">
            </div>
            <p class="vipgd">
              wangchongVIP@
            </p>
            <p style="float: left;line-height: 36px;line-height: 42px;">
              <img src="../../images/33.png" style="cursor: pointer;">
            </p>
          </div>
        </div>
        </a>
        <!-- /.navbar-collapse -->
        </li>
        </ul>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- 导航结束 -->
    <div id="vip" style="border:none;">
      <!-- 内容部分 -->
      <div id="vipcenter" style="background-color: #fff;min-height: 1300px;">
       <p style="font-size: 14px;color: #333;padding-top:20px;padding-left: 10px;">
       当前位置：
       <a style="font-size: 14px;color: #2598f9;">首页>日历提醒</a>
       </p>
       <div class="text_sd">
       <li>
         <p>1</p>
         <p style="margin-left: 20px;">2016.3.22    下午13：00-14：00     您有一堂直播课。</p>
       </li>
        <li>
         <p>1</p>
         <p style="margin-left: 20px;">2016.3.22    下午13：00-14：00     您有一堂直播课。</p>
       </li>
        <li>
         <p>1</p>
         <p style="margin-left: 20px;">2016.3.22    下午13：00-14：00     您有一堂直播课。</p>
       </li>
         
       </div>

       
      </div>
      <!-- 内容结束 -->
    </div>
   <div id="bottom" style="background-color: #fff;margin-top:30px;border-top:1px solid #ccc;float: left;">
     <ul style="width: 1024px;height: 180px;margin:0 auto;" class="uf">
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            下载专区
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            开心课堂学生APP
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            开心课堂老师APP
                        </p>
                    </li>
                     <li >
                        <p style="font-size: 16px;color: #3fa0f9;">
                            开心课堂官方微博
                        </p>
                        <div style="height: 35px;margin-top: -12px;">
                           
                        </div>
                        <div style="height: 76px;">
                            <div style="margin:0 auto;width: 75px;height: 75px;">
                                <img src="../../images/weixin.png" style="width: 75px;height: 75px;">
                            </div>
                           
                        </div>
                    </li>
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            关于我们
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                            <a style="text-decoration:none;color: #9b9b9b;" href="Protocol.html"
                            target="view_window">
                                用户协议
                            </a>
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            <a style="text-decoration:none;color: #9b9b9b;" href="javascript:"
                            target="view_window">
                                400-100-8888
                            </a>
                        </p>
                        
                    </li>
                    <li >
                        <p style="font-size: 16px;color: #2598f9;">
                            联系我们
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 25px;margin-left: 5px;">
                        <a style="text-decoration:none;color: #9b9b9b;" href="feedback.html"
                            target="view_window">
                            意见反馈
                            </a>
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            新浪微博
                        </p>
                        <p style="font-size: 14px;color: #9b9b9b;margin-top: 10px;margin-left: 5px;">
                            开心课堂用户群:</br>208919116
                        </p>
                    </li>
                   
                </ul>
                </div>
    </div>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <a class="to-top">Top</a>
  
  </body>
  
  <script src="../../bootstrap.dolang/js/jquery-2.0.0.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../../bootstrap.dolang/js/bootstrap-progressbar.js">
  </script>
   <script src="../../bootstrap.dolang/js/jquery.toTop.min.js">
  </script>
  <script src="../../bootstrap.dolang/js/fakeloader.min.js">
  </script>
  <script type="text/javascript" src="../../js/index.js">
  </script>
<script >
/*   //加载动画
 $(function () {
  $(document).ready(function(){
               $(".fakeloader").fakeLoader({
                   timeToHide:1200,
                   bgColor:"#63a4db",
                   spinner:"spinner3"
               });
               $(".viodd").hide();
               setTimeout(function () {
                 $(".viodd").show();
               },1300)
           });
 })*/
 
 </script>
  

</html>